.hero {
    position: relative;
    top: -80px;
    display: flex;
    min-height: 920px;
}

.hero:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url("../../assets/images/earth.png") no-repeat bottom right;
    background-size: contain;
    z-index: 0;
}

.heroContainer {
    display: flex;
    margin: auto;
}

.heroPreview {
    max-width: 625px;
    z-index: 2;
}

.heroPreview h1 {
    font-size: 80px;
    font-weight: 600;
    line-height: 1;
    text-shadow: 0 4px 17px rgba(0, 0, 0, 0.45);
}

.heroPreview p {
    margin-bottom: 50px;
}
.shareLink {
    display: inline-block;
    padding: 30px 50px;
    background: linear-gradient(93.93deg, #8F00FF 0%, #3625A3 83.13%, #862B88 106.41%);
    border-radius: 7px;
    border: none;
    cursor: pointer;
}

.shareLink:hover {
    background: linear-gradient(-93.93deg, #862B88 106.41%,#3625A3 83.13%, #8F00FF 0%);
}

.heroEarth {
    width: 400px;
}



