/* DreamType */
.selectDreamTypeWrap {
  display: flex;
  justify-content: center;
}

.selectDreamTypeWrap button {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 166px;
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
  padding: 20px;
  font-size: 18px;
  line-height: 1.3;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  cursor: pointer;
}

.selectDreamTypeWrap svg {
  margin-bottom: 20px;
}
/* END DreamType */

/* steps in DreamWizard */
.step {
  position: relative;
  display: flex;
  padding: 20px;
  background: #222222;
  border: none;
  border-radius: 12px;
}

.step p {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20px;
  text-align: left;
  font-size: 18px;
  color: #727272;
}

.stepBtnBack {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.stepBtnBack:hover {
  transform: translateX(-3px);
}
/* END steps in DreamWizard */


/* DreamCategory */
.categoriesDesc {
  max-width: 368px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.categoriesList {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -3px;
}

.categoriesList label {
  max-width: calc(25% - 6px);
  width: 100%;
  height: 167px;
  margin: 6px 3px;
  padding: 10px;
  background-color: red;
  border-radius: 2px;
}

/* END sDreamCategory */

